<%- include("header") -%>
    <div class="showcase">
        <a href="/" id="show_all_list_link">Show All List</a>
        <!---------------------- SEARCHING A LIST AMONG ALL THE LIST---------------------->
        <form action="" method="post">
            <div class="row">
                <div class="col">
                    <input type="text" name="searchquery" id="">
                </div>
                <div class="col">
                    <button type="submit">search</button>
                </div>
            </div>
        </form>
        <!----------------------------- ADDING A NEW LIST ------------------------------------->
        <form action="" method="post">
            <div class="row">
                <div class="col">
                    <input type="text" name="listname" id="">
                </div>
                <div class="col">
                    <button id="add_list_button" onclick="create_list()" type="submit">+</button>
                </div>
            </div>
        </form>

        <% for(i=0;i<2;i++){ %>
            <div class="row list-card text-center my-1">
                <div class="col  ">
                    <a href="">
                        <p class="" id="current_list">
                            <%= disp_list_name%>
                        </p>
                    </a>
                </div>
                <div class="col">
                    <button id="del_list_button" type="submit">DELETE</button>
                </div>
            </div>
            <% } %>
    </div>
    <%- include("list") -%>
        <%- include("footer") -%>