<%- include("header") -%>
    <div>
        <form action="" method="post">
            <input type="text" name="" id="">
            <button type="submit">search</button>
        </form>
        <form action="/listname" method="post">
            <input type="text" name="listname" id="newlist">
            <button id="add_list_button" type="submit">+</button>
        </form>
    </div>
    <div>
        all the lists are here
    </div>

    <%- include("footer") -%>