<div class="listdiv">
    <%= this.list_name %>
        <ol>
            <% for(j=0;j<disp_list_items.length;j++){ %>
                <div class="itemdiv">
                    <li>
                        <%= disp_list_items %>
                    </li>
                </div>
                <% } %>
        </ol>
</div>
<div class="form">
    <form action="/listname" method="post">
        <input type="text" placeholder="ADD WORK TO DO" autocomplete="off" name="newitem">
        <button type="submit">ADD</button>
    </form>
</div>

<script>
    document.getElementById("current_list").addEventListener("click", function(ev) {
        console.log(this.innerHTML);
        ev.preventDefault();
    });
</script>


<!-- this.list_items.length -->