nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #1d1d1d;
    text-align: right;
    padding: 0;
    transition: top 0.3s;
    z-index: 2;
}

body {}

ul {
    /* margin: 10px 20px 0 0; */
    /* display: inline-block; */
}

nav .logo {
    /* width: 5%;
    float: left;
    padding: 0;
    margin: 0 0 0 100px; */
}

li {
    /* display: inline; */
    /* margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: large; */
}

a:active {
    /* color: red; */
}

a:link {
    /* color: #F0EFEF;
    text-decoration-line: none; */
}

a:visited {
    /* color: green; */
}

a:hover {
    /* color: green !important; */
}